*.iml

.idea/

*.ipr
*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


### SVN template
.svn/


### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### TortoiseGit template
# Project-level settings
/.tgitconfig


*/target/

*.versionsBackup
